<app-card>
    <!-- 
        color='blue' -> Utilizado quando a mudança de cor for statica. 
        [attr.color]="headerColor" -> Utilizado quando a mudança de cor for dinâmica
    -->
    <app-card-header [attr.color]="headerColor">
        <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </app-card-header>
    <app-card-content>
        <app-card-item text="Nome" value="John Dee"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="Idade" value="26 anos"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="Nacionalidade" value="Americano"></app-card-item>
        <app-card-line></app-card-line>
    </app-card-content>
</app-card>